<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>
{% extends "base.html" %}
{% block content %}
    <a class="btn btn-primary" href="{% url 'locations:adaugare' %}">Adaugare locatii</a>
    <table class="table">
        <thead>
            <tr>
                <th>Index</th>
                <th>City</th>
                <th>Country</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in location_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.city }}</td>
                    <td>{{ item.country }}</td>
                    <td>
                        {% if item.active is True %}
                        Active
                        {% else %}
                        Inactiv
                        {% endif %}
                    <td>
                        <a class="btn btn-success" href="{% url 'locations:modifica' item.id %}"> Editare </a>
                        {% if item.active is True %}
                        <a class="btn btn-danger" href="{% url 'locations:dezactiveaza' item.id %}">Dezactiveaza</a>
                        {% else %}
                        <a class="btn btn-warning" href="{% url 'locations:activeaza' item.id %}">Activeaza</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}